@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



@import "tailwindcss";

:root {
  --sd-gap-small: calc(var(--spacing) * 2);
  --sd-gap-mid: calc(var(--spacing) * 5);
  --mkd-gap: calc(var(--spacing) * 3);

  --spacing: 0.25rem;
}


html, body{
  height: 100%;
}

@theme{
  --font-exo-2: "Exo 2", sans-serif;
  --font-league-spartan: "League Spartan", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;

  --color-space-50: oklch(0.1 0 0);
  --color-space-100: oklch(0.2 0 0);  /* page background */
  --color-space-200: oklch(0.22 0 0); /* panel background */
  --color-space-300: oklch(0.29 0 0); /* bold panel background or panel border */
  --color-space-400: oklch(0.33 0 0); /* bold panel border */
  --color-space-500: oklch(0.39 0 0); /* highlighted panel */
  --color-space-600: oklch(0.62 0 0); /* soft text */
  --color-space-800: oklch(0.84 0 0); /* mid text */
  --color-space-900: oklch(0.95 0 0); /* bright text */

  --color-theme-100: oklch(0.6672 0.1802 1.69);
  --color-highlight-100: oklch(41% 0.159 10.272);
  --color-highlight-200: oklch(51.4% 0.222 16.935);
}

.scrollbar-dark::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Firefox */
.scrollbar-dark {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}